/build/
/cmake-build-*/
/out/
/bin/


CMakeUserPresets.json
conanbuildinfo.*
conan_toolchain.cmake

.idea/
.vs/
*.sln
*.vcxproj
*.vcxproj.*


*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.exp
*.idb

.DS_Store
Thumbs.db